/node_modules
/public/hot
/public/storage
/public/css
/public/mix.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
public/flatfile-bundle
public/flatfile-dashboard
public/mix.js
.DS_Store
/errorShots
