@import '~elements/card/styles';

.cardTitle {
  position: relative;
}

.showingCardNum {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  i {
    span {
      font-family: Whitney, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #49545a;
    }
  }
}
