$color-light-grey: #DFE2E5;
$color-white: #FFF;

$color-gray-blue: #7f8fa4;
$color-blue-gray: #abb7c9;
$color-light-blue-gray: #dfe3e9;

// $color-bg: $color-bg;
$color-line: $color-light-grey;

$gray: #4e5c6b;
$lightest-gray: #e3e3e3;
$lighter-gray: #c3c3c3;
$light-gray: #9b9b9b;
$mid-gray: #9daab6;
$white: #fff;
$blue: #4a90e2;

$scarlet: #d0011b;
$kermit-green: #60b700;
$orange: #f6a623;
$gunmetal: #50535b;
$snowman: #e8e8e8;
$cloudy-blue: #c6d1dd;
$dark-sky-blue: #4990e2;
$light-sky: #f5f8fa;
$red: #D0021B;

// Namespaced vars
$color-border: #e3e3e3;
$color-bg: #EFF3F6;
$color-text: #354052;
$color-text-light: #7F8FA4;
$color-primary: #2EA1F8;
