$gray: #4e5c6b;
$lightest-gray: #e3e3e3;
$lighter-gray: #c3c3c3;
$light-gray: #9b9b9b;
$mid-gray: #9daab6;
$white: #fff;
$blue: #4a90e2;

$scarlet: #d0011b;
$kermit-green: #60b700;
$orange: #f6a623;
$gunmetal: #50535b;
$snowman: #e8e8e8;
$cloudy-blue: #c6d1dd;
$dark-sky-blue: #4990e2;
$light-sky: #f5f8fa;
$red: #D0021B;

$gutter: 64px;
$spacing: 40px;
$transition: 0.2s;
